 *{
    background-color: gainsboro;
}


div.avatar {
    
    /* cambia estos dos valores para definir el tamaño del círculo */
    height: 40px;
    width: 40px;
    
    /* los siguientes valores son independientes al tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 80% auto;
    box-shadow: 1px 1px 1px;
}

div#icono_perfil{
    background-size: 80% auto !important;
    background-repeat: no-repeat !important;
}

div.escritura{
    
}

div#imagen_lista{
    height: 35px;
    width: 35px;
}

div#imagen_modal_1{
    width: 60px;
    height: 60px;
}

div#imagen_modal_2{
    width: 60px;
    height: 60px;
}

div#imagen_modal_3{
    width: 60px;
    height: 60px;
}

div.menu_izq{
    width: auto;
    display: inline-flex;
    padding-left: 21px;
    padding-right: 1px;
    
}

div.busqueda{
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.63);
    height: 650px;
    overflow: scroll;
}

div.info_izq{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
    display: block;
    height: 85px;
    padding: 7px 7px 10px;
}

div.info_izq:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.63);
}

div.muestra_user{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

p.name{
    padding-top: 3px;
    padding-left: 12px;
    height: 12px;
}

div.estado{
    color: black;
    padding-top: 26px;
}

input.buscar{
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.63);
}

div.usuario{
    display: flex;
    padding: 10px 20px;
}

label.name_user{
    padding: 13px 20px;
}

div.menu_dere{
    width: 80%;
    height: 649px;
    padding-top: 5px;
    padding-left: 0px;
}

div.entorno_mensajes{
    background-color: azure;
    height: 550px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
    padding-right: 0px;
    overflow: scroll;
}

div.mensaje{
    display: inline-flex;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
    height: 35px;
}

input.campo_mensaje{
    width: 70%;
}

div.titulo h1{
    margin-bottom: 0px;
}

div.mnsg_user{
    background-color: azure;
}

div.desconexion{
    background-color: azure;
    color: darkslategrey;
}


label.Avatares{
    display: flex;
    padding-left: 190px;
    background-color: azure;
}


.mnsg_error{
    color: red;
}

.modal_registro{
    display: none;
}

#cambio_footer{
    margin-top: 0px;
    background-color: azure;
}

#cambio_body{
    background-color: azure;
}

#cambio_header{
    background-color: azure;
    margin-top: 0px;
}

#cambio_label{
    background-color: azure; 
}

#cambio_titulo{
    background-color: azure;
    margin-left: 220px;
}

#cambio_input_nombre{
    background-color: azure;
}

#cambio_input_estado{
    background-color: azure;
}

.modal-tittle{
    border-color: azure;
}